quality_check.json
[{"id":"b7f58c91.ba808","type":"tab","label":"Welding Quality Check","disabled":false,"info":""},{"id":"687f316a.65bf9","type":"file in","z":"b7f58c91.ba808","name":"read csv","filename":"/home/ros_test/ADDSRL-PC_T1_07-10-2019_dup.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":580,"y":260,"wires":[["71f0c5d.0ca94bc"]]},{"id":"71f0c5d.0ca94bc","type":"csv","z":"b7f58c91.ba808","name":"trasform csv","sep":"\\t","hdrin":true,"hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":770,"y":260,"wires":[["d68d6ea0.2fc728","1d0c89b9.a0bc3e"]]},{"id":"d68d6ea0.2fc728","type":"ui_template","z":"b7f58c91.ba808","group":"8b5cde76.edd58","name":"template table","order":1,"width":"0","height":"0","format":"<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>TEST</title>\n    <style>\n        body {\n            font-family: Arial, Helvetica, sans-serif;\n        }\n\n        .content-table {\n            border-collapse: collapse;\n            margin: 25px 0;\n            font-size: 0.9em;\n            min-width: 400px;\n            border-radius: 5px 5px 0 0;\n            overflow: hidden;\n            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);\n        }\n\n        .content-table thead tr {\n            background-color: #009879;\n            color: #ffffff;\n            text-align: left;\n            font-weight: bold;\n        }\n\n        .content-table th,\n        .content-table td {\n            padding: 12px 15px;\n        }\n\n        .content-table tbody tr {\n            border-bottom: 1px solid #dddddd;\n        }\n\n        .content-table tbody tr:nth-of-type(even) {\n            background-color: #f3f3f3;\n        }\n\n        .content-table tbody tr:last-of-type {\n            border-bottom: 2px solid #009879;\n        }\n\n        .content-table tbody tr.active-row {\n            font-weight: bold;\n            color: #009879;\n        }\n    </style>\n</head>\n\n<body>\n    <h1>Welding Quality data - {{ msg.payload[0].Data }} - {{msg.payload[0].Modello}}</h1>\n\n    <table class=\"content-table\" style=\"width:100%\">\n\n        <thead>\n            <tr>\n                <th>Cod. Risultato</th>\n                <th>Descrizione risultato</th>\n                <th>Peaks</th>\n                <th>Thickness</th>\n                <th>Att</th>\n                <th>Gain</th>\n                <th>CatNo</th>\n                <th>CenterPeacks</th>\n                <th>Result</th>\n                <th>SpotID</th>\n                <th>TestID</th>\n            </tr>\n        </thead>\n\n\n        <tbody>\n            <tr ng-repeat=\"row in msg.payload\">\n                <td>{{row[\"Cod. Risultato\"]}}</td>\n                <td>{{row[\"Descrizione risultato\"]}}</td>\n                <td>{{row.Peaks}}</td>\n                <td>{{row.Thickness}}</td>\n                <td>{{row.Att}}</td>\n                <td>{{row.Gain}}</td>\n                <td>{{row.CatNo}}</td>\n                <td>{{row.CenterPeacks}}</td>\n                <td>{{row.Result}}</td>\n                <td>{{row.SpotID}}</td>\n                <td>{{row.TestID}}</td>\n            </tr>\n        </tbody>\n\n\n    </table>\n\n\n</body>\n\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1070,"y":160,"wires":[[]]},{"id":"1d0c89b9.a0bc3e","type":"function","z":"b7f58c91.ba808","name":"create html","func":"\nlet html = `<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>520 - ${ msg.payload[0].Data }</title>\n    <style>\n        body {\n            font-family: Arial, Helvetica, sans-serif;\n        }\n\n        .content-table {\n            border-collapse: collapse;\n            margin: 25px 0;\n            font-size: 0.9em;\n            min-width: 400px;\n            border-radius: 5px 5px 0 0;\n            overflow: hidden;\n            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);\n        }\n\n        .content-table thead tr {\n            background-color: #009879;\n            color: #ffffff;\n            text-align: left;\n            font-weight: bold;\n            border:1px solid black;\n        }\n\n        .content-table th,\n        .content-table td {\n            padding: 12px 15px;\n             text-align: center; \n        }\n\n        .content-table tbody tr {\n            border-bottom: 1px solid #dddddd;\n             border:1px solid black;\n        }\n\n        .content-table tbody tr:nth-of-type(even) {\n            background-color: #f3f3f3;\n        }\n\n        .content-table tbody tr:last-of-type {\n            border-bottom: 2px solid #009879;\n        }\n\n        .content-table tbody tr.active-row {\n            font-weight: bold;\n            color: #009879;\n        }\n        .success {\n            color: #ff0000;\n        }\n        .error {\n            color: #00ff00;\n        }\n    </style>\n</head>\n\n<body>\n    <h1>Welding Quality data report- ${ msg.payload[0].Data } - 520</h1>\n    \n    <table style=\"width:100%\">\n  \n    <tr>\n        <td>Operatore: </td>\n        <td> Mariano Quagliano</td>\n        <td>Modello: </td>\n        <td>520 </td>\n        \n        <td>Provati: </td>\n       <td>${ msg.payload.length}/60</td> \n    </tr>\n    <tr>\n        <td>Turno: </td>\n        <td> CENTRALE</td>\n        <td>Gruppo: </td>\n        <td>PAZ</td>\n        <td>Progetto:</td>\n        <td>DESTRO </td>\n        \n    </tr>\n    <tr>\n        <td>Data: </td>\n        <td> ${ msg.payload[0].Data }</td>\n        <td>Parte: </td>\n        <td>Puntoncino</td>\n       \n        <td>Buoni: </td>\n       <td>${msg.payload.filter(function(item){if (item[\"Risultato\"]==\"Buono\") return true; else false;}).length}\n       (${((msg.payload.filter(function(item){if (item[\"Risultato\"]==\"Buono\") return true; else false;}).length / msg.payload.length) *100).toFixed(2)}%)</td> \n    </tr>\n    <tr>\n        \n        <td>Scarto: </td>\n        <td>${msg.payload.filter(function(item){if (item[\"Risultato\"]!=\"Buono\") return true; else false;}).length}\n       (${((msg.payload.filter(function(item){if (item[\"Risultato\"]!=\"Buono\") return true; else false;}).length / msg.payload.length) *100).toFixed(2)}%)</td> \n        \n    </tr>\n \n</table>\n\n    <table class=\"content-table\" style=\"width:100%\">\n\n        <thead>\n            <tr>\n              <th>N Punto</th>\n                <th>Descrizione</th>\n                <th>Risultato</th>\n                <th>Categoria</th>\n                <th>Spessore</th>\n                <th>Echi</th>\n                <th>Calo</th>\n                <th>Guadag</th>\n                <th>Sonda</th>\n                <th>File UPR</th>\n                <th>File SWD</th>\n             \n            </tr>\n        </thead>\n\n        <tbody>`\n\nlet rows = \"\"\n\nmsg.payload.forEach(el => {\n    if (el[\"Risultato\"]==\"Buono\"){\n        rows += `\n<tr>\n     <td>${el[\"Punto\"]}</td>\n    <td>${el[\"Descrizione\"]}</td>\n    <td>${el[\"Risultato\"]}</td>\n    <td>${el.Categoria}</td>\n    <td>${el.Spessore}</td>\n    <td>${el.Echi}</td>\n    <td>${el.Calo}</td>\n    <td>${el.Guadagno}</td>\n    <td>${el.Sonda}</td>\n    <td>${el[\"File UPR\"]}</td>\n    <td>${el[\"File SWD\"]}</td>\n   \n</tr>`\n        \n    } else {\n    rows += `\n<tr style=\"color: red\">\n <td>${el[\"Punto\"]}</td>\n     <td>${el[\"Descrizione\"]}</td>\n    <td>${el[\"Risultato\"]}</td>\n    <td>${el.Categoria}</td>\n    <td>${el.Spessore}</td>\n    <td>${el.Echi}</td>\n    <td>${el.Calo}</td>\n    <td>${el.Guadagno}</td>\n    <td>${el.Sonda}</td>\n    <td>${el[\"File UPR\"]}</td>\n    <td>${el[\"File SWD\"]}</td>\n</tr>`\n    }\n        \n})\n\n\nhtml = html + rows + `</tbody>\n    </table>\n</body>\n</html>`\n\nmsg.payload = html\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":260,"wires":[["363a2003.a56448"]]},{"id":"363a2003.a56448","type":"file","z":"b7f58c91.ba808","name":"create html","filename":"/home/ros_test/quality_ultrasound_report_partID_1.html","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1160,"y":220,"wires":[["338b92d9.22f0e6"]]},{"id":"6d2eeb06.f78d24","type":"kafka-producer","z":"b7f58c91.ba808","name":"Send_quality_report to K","broker":"9f02d648.2ec128","topic":"quality_ultrasound_report","requireAcks":1,"ackTimeoutMs":100,"attributes":"1","x":1180,"y":400,"wires":[]},{"id":"338b92d9.22f0e6","type":"base64","z":"b7f58c91.ba808","name":"","action":"str","property":"payload","x":1170,"y":280,"wires":[["45cc0ad6.36678c"]]},{"id":"45cc0ad6.36678c","type":"function","z":"b7f58c91.ba808","name":"msgToKafka","func":"var temp = msg.payload;\nvar jsonObj = '{\"partID\":\"1\",\"fileName\":\"quality_ultrasound_report_partID_1.html\",\"fileContentB64\":\"' + temp + '\"}'\nmsg.payload = jsonObj;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1170,"y":340,"wires":[["6d2eeb06.f78d24"]]},{"id":"f763b193.077318","type":"mqtt in","z":"b7f58c91.ba808","name":"recieve sensors value","topic":"sensors_data","qos":"1","datatype":"utf8","broker":"9987be67.135f18","x":180,"y":440,"wires":[["d3f0a1e5.7ad538"]]},{"id":"35c1487d.3d2af","type":"kafka-producer","z":"b7f58c91.ba808","name":"Kafka Pub sens position OK","broker":"9f02d648.2ec128","topic":"sensors_position_result","requireAcks":1,"ackTimeoutMs":100,"attributes":0,"x":840,"y":460,"wires":[]},{"id":"e68210eb.19345","type":"comment","z":"b7f58c91.ba808","name":"Recieve command and distribute","info":"","x":210,"y":280,"wires":[],"icon":"node-red/arrow-in.svg"},{"id":"6cd1f2dd.a12b34","type":"mqtt out","z":"b7f58c91.ba808","name":"","topic":"sensors_data","qos":"1","retain":"false","broker":"9987be67.135f18","x":410,"y":600,"wires":[]},{"id":"ed28ba0e.ebb3b8","type":"inject","z":"b7f58c91.ba808","name":"inject sensor data OK","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"data\":[{\"S1\":1,\"S2\":1,\"S3\":1,\"S4\":1,\"S5\":1}],\"token\":\"T0001\",\"timestamp\":\"20210125T20:47:51 \"}]","payloadType":"json","x":190,"y":600,"wires":[["6cd1f2dd.a12b34"]]},{"id":"ec3858cd.a0b55","type":"comment","z":"b7f58c91.ba808","name":"Simulate Start/Stop","info":"","x":190,"y":100,"wires":[]},{"id":"d3f0a1e5.7ad538","type":"json","z":"b7f58c91.ba808","name":"","property":"payload","action":"","pretty":false,"x":370,"y":440,"wires":[["4c827b34.26fd5c","934b915f.e62e88"]]},{"id":"4c827b34.26fd5c","type":"function","z":"b7f58c91.ba808","name":"verify sensors status","func":"\n//var temp1 = msg.payload[0].data[0];\nvar temp1 = msg.payload;\nvar temp2 = JSON.stringify(temp1)\n\n\nif(temp2.includes(0)){\n   msg.payload = '{“position”:”nok”}'\n}\nelse if (temp2.includes(\"SUCCESS\"))\n{console.log(\"SUCCESS\")}\nelse\n{msg.payload = '{“position”:”ok”}' }\n\nreturn msg;\n\n// {\"S1\":1,\"S2\":1,\"S3\":1,\"S4\":1,\"S5\":1}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":440,"wires":[["35c1487d.3d2af"]]},{"id":"67b902b2.de164c","type":"mqtt out","z":"b7f58c91.ba808","name":"start/stop quality check","topic":"command_data","qos":"2","retain":"false","broker":"9987be67.135f18","x":460,"y":200,"wires":[]},{"id":"73b6ef47.8e3bc","type":"inject","z":"b7f58c91.ba808","name":"inject start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"start\"}","payloadType":"json","x":180,"y":160,"wires":[["67b902b2.de164c"]]},{"id":"93352797.c7ae3","type":"mqtt in","z":"b7f58c91.ba808","name":"","topic":"command","qos":"2","datatype":"auto","broker":"172d4a97.2e792d","x":1520,"y":180,"wires":[["c2994c28.4cf7e"]]},{"id":"c2994c28.4cf7e","type":"debug","z":"b7f58c91.ba808","name":"mqtt_unibas_output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1710,"y":180,"wires":[]},{"id":"e9e18ebc.c10328","type":"mqtt in","z":"b7f58c91.ba808","name":"recieve commands","topic":"command_data","qos":"2","datatype":"auto","broker":"9987be67.135f18","x":170,"y":320,"wires":[["f151d4a.c94a028"]]},{"id":"1b711ffc.2128b","type":"debug","z":"b7f58c91.ba808","name":"com_data_output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1640,"y":280,"wires":[]},{"id":"f151d4a.c94a028","type":"function","z":"b7f58c91.ba808","name":"analyse command","func":"var temp = msg.payload;\nif(temp.includes(\"start\"))\n{\n  var temp1 = {payload:\"/read/-s1&s2&s3&s4&s5&token=T0001&password=((icosaf))\"};\n  return [null,temp1]\n}\nelse if(temp.includes(\"stop\"))\n{\n     msg.payload = \"STOP\"\n    \n  return [msg,null]  \n}\nelse\n{\n    console.log(\"Something wrong\" + temp)\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":430,"y":320,"wires":[["687f316a.65bf9"],["f0cd188b.56c418"]]},{"id":"f0cd188b.56c418","type":"mqtt out","z":"b7f58c91.ba808","name":"command to Arduino","topic":"command_data","qos":"2","retain":"false","broker":"9987be67.135f18","x":820,"y":360,"wires":[]},{"id":"4c281687.4b9b38","type":"inject","z":"b7f58c91.ba808","name":"inject sensor data NOK","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"data\":[{\"S1\":0,\"S2\":1,\"S3\":1,\"S4\":1,\"S5\":1}],\"token\":\"T0001\",\"timestamp\":\"20210125T20:47:51 \"}]","payloadType":"json","x":190,"y":640,"wires":[["6cd1f2dd.a12b34"]]},{"id":"934b915f.e62e88","type":"function","z":"b7f58c91.ba808","name":"respond to Arduino","func":"\n//var temp1 = msg.payload[0].data[0];\nvar temp1 = msg.payload;\nvar temp2 = JSON.stringify(temp1)\nif(temp2.includes(\"SUCCESS\"))\n{\n    console.log(\"SUCCESS\")\n}\nelse\n{\nvar json_obj = temp1;\nconsole.log(json_obj.data.s1)\n\nvar s1 = json_obj.data.s1;\nvar s2 = json_obj.data.s2;\nvar s3 = json_obj.data.s3;\nvar s4 = json_obj.data.s4;\nvar s5 = json_obj.data.s5;\n\nmsg.payload = '/write/-led1=' + s1 + '&led2=' + s2 + '&led3='+s3 + '&led4=' + s4+'&led5='+s5 + '&token=T0001&password=((icosaf))';\n\n\nreturn msg;\n\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":380,"wires":[["f0cd188b.56c418"]]},{"id":"13dff33.2fcf60d","type":"comment","z":"b7f58c91.ba808","name":"Recieve sensor data and elaborate","info":"","x":220,"y":380,"wires":[]},{"id":"c133c336.8f066","type":"inject","z":"b7f58c91.ba808","name":"inject stop","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"stop\"}","payloadType":"json","x":180,"y":220,"wires":[["67b902b2.de164c"]]},{"id":"564cc6b3.75e44","type":"comment","z":"b7f58c91.ba808","name":"Simulate Sensors data","info":"","x":180,"y":540,"wires":[]},{"id":"8b5cde76.edd58","type":"ui_group","name":"","tab":"30bf4544.04a522","order":1,"disp":true,"width":"12","collapse":false},{"id":"9f02d648.2ec128","type":"kafka-broker","name":"RPLY01","hosts":"brokerkafka.cloud.reply.eu:9092","selfsign":false,"usetls":false,"cacert":"","clientcert":"","privatekey":"","passphrase":""},{"id":"9987be67.135f18","type":"mqtt-broker","name":"pri4","broker":"54.216.55.188","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"172d4a97.2e792d","type":"mqtt-broker","name":"hyve","broker":"vitalaht.cloud.reply.eu","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"command","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"30bf4544.04a522","type":"ui_tab","name":"Home1","icon":"dashboard","disabled":false,"hidden":false}]